.listing-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 25vh;
  align-items: center;
  justify-content: center;
  z-index: -100;
  /* min-height: min-content; */
}
@media screen and (max-width: 500px) {
  .listing-container > h2{
    text-align: center;
    width: 300px;
  }
}
