.categories-container{
  position: sticky;
  top: 80px;
  z-index: 15;
  background-color: white;
  /* margin-left: 70px; */
  /* margin-right: 70px; */
  height: 80px;
  display: flex;
  align-items: center;
  /* margin-left: 1em; */
  /* width: 100%; */
  /* border: 5px solid black; */
  transition-duration: 300ms;
}
.categories-list{
  display: flex;
  overflow: hidden;

  /* margin: 0; */
  /* margin-top: 40px; */
  /* margin-left: 70px;
  overflow-x: scroll;
  scrollbar-width: 0px;
  /* scroll-behavior: smooth; */
  margin-right: 110px;
  margin-left: 90px;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  overflow-x: hidden;

}

.categories-list > * {

  /* max-width: 90px; */


}

.categories-list::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
.categories-list-item{
  /* padding-right: 10px;
  padding-left: 10px; */
  font-size: 12px;
  color: rgba(46, 46, 46, 0.874);
  white-space: nowrap;
  margin: 0px 40px 0px 40px;

}
.categories-list-item, .category-icon{
  /* width: 80px; */
}
.single-category{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;

}
.single-category h5{
  color: black;
}
.category-icon{
  width: 30px;

}
.categories-right{
  margin-right: 75px;
  position: absolute;
  right: 1em;
  box-shadow: none;
  top: 25px;
  z-index: 1000;
  transition-duration: 1000ms;

  /* display: none; */
  font-size: 30px;
  color: gray;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.733) 0px -30px 0px inset;

}
.categories-left{
  margin-left: 20px;
  position: absolute;
  /* left: 40px; */
  top: 25px;
  z-index: 1000;
  color: gray;
  box-shadow: none;
  transition-duration: 1000ms;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.733) 0px -30px 0px inset;
  /* display: none; */
  font-size: 30px;
}
.categories-left:hover{
  /* left: 1.2em; */
  /* left: 2em; */
  /* color: darkcyan; */
  color: rgb(137, 48, 48);
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.categories-right:hover{
  /* right: -5px; */
  /* right: 15px; */
  /* color: darkcyan; */
  color: rgb(137, 48, 48);

  /* box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; */
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
