.categories-container{
  position: sticky;
  top: 80px;
  z-index: 10;
  background-color: white;
  margin: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  /* border: 5px solid black; */
  transition-duration: 1000ms;
}
.categories-list{
  display: flex;
  overflow: hidden;
  /* margin: 0; */
  /* margin-top: 40px; */
  margin-left: 70px;
  margin-right: 70px;
  overflow-x: scroll;
  scrollbar-width: 0px;
  /* scroll-behavior: smooth; */
  scroll-behavior: smooth;
  scroll-snap-type: proximity;

}

.categories-list > * {
  /* background-color: black; */
  /* outline: 1px solid black; */
  /* flex: 1; */
  max-width: 90px;

}

.categories-list::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
.categories-list-item{
  /* padding-right: 10px;
  padding-left: 10px; */
  font-size: 12px;
  color: rgba(46, 46, 46, 0.874);
  white-space: nowrap;
  margin: 0px 20px 0px 20px;

}
.categories-list-item, .category-icon{
  /* width: 80px; */
}
.single-category{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;

}
.single-category h5{
  color: black;
}
.category-icon{
  width: 30px;

}
.categories-right{
  position: absolute;
  right: 40px;
  box-shadow: none;
  top: 25px;
  z-index: 1000;
  transition-duration: 1400ms;
  /* display: none; */
  font-size: 30px;
  color: lightgray;

  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.categories-left{
  position: absolute;
  left: 40px;
  top: 25px;
  z-index: 1000;
  color: lightgray;
  box-shadow: none;
  transition-duration: 1400ms;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: none;
  font-size: 30px;
}
.categories-left:hover{
  left: 29px;
  color: darkcyan;

}
.categories-right:hover{
  right: 29px;
  color: darkcyan;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
