.footer-container{
    background-color: white;
    max-height: 3rem;
    position: sticky;
    bottom: -800px;
    /* top: 0; */
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid lightgray;
}
.footer-right{
    /* font-size: 2.5rem; */
}