

.host-page-container{
  /* margin-top: 6em; */
  /* margin-top: 3.8em; */
  /* background-color: blue; */
  /* position: relative; */
  /* height: 80vh; */
  /* min-height: 100vh; */
  /* height: 90vh; */
  /* margin-top: 1em; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 15%;
  height: 106vh;
  position: relative;
  /* justify-content: center;
  align-items: center; */
}

.right-page{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow-y: scroll;
  padding-top: 20px;
}
.left-header{
  color: white;
  font-size: 3em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 600;
  display: flex;
  margin-left: 1em;
  align-items: center;
  justify-content: flex-start;
  max-width: 10em;
  text-align: left;
  user-select: none;
}


.newhost-form{

  /* max-height: 20em; */
  /* height: 100%; */

}
.types{

}
.type-select{
  border: 1px solid lightgray;
  width: 15em;
  height: 5em;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  caret-color: transparent;
  transition-duration: 100ms;
  transition-timing-function: ease;
}
.type-select:focus{
  background-color: rgba(211, 211, 211, 0.505);
  outline: 2px solid black;
}
.next-page{
  border-top: 2px solid gray;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.next-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  grid-column-start: 2;
  grid-column-end: 3;
  user-select: none;
  border: 1px solid black;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* width: 50px; */
  /* height: 100px; */
}
.back-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;
  user-select: none;
  border: 1px solid black;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-page{
  background: linear-gradient(-25deg, rgb(25, 25, 166), rgba(218, 28, 60, 0.977));
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* MAP SECTION */
.address-section{
  /* border: 1px solid black; */
  margin-top: -1.3em;
}
.mapboxgl-map{
  min-height: 40em;
  padding-top: -1em;
}

.mapboxgl-control-container{
  display: none;
}
