.listing-title{
  font-size: 30px;
}
.card-details-container{
  /* padding-right: 80px; */
  padding-top: 20px;
  padding-left: 110px;
  /* padding-right: 110px; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.listing-location{
  display: flex;
  margin-top: 10px;
}
.listing-city{
  border-bottom: 1px solid black;
}
.listing-state{
  margin-left: 3px;
  border-bottom: 1px solid black;
}
.listing-country{
  margin-left: 3px;
  border-bottom: 1px solid black;
}
.image-section{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 550px 267px 267px;
  grid-template-rows: 150px 150px;
  gap: 10px;
}
.sub-imgs{
  width: 267px;
  height: 150px;
  object-fit: cover;

}

.first-img{
  width: 550px;
  height: 310px;
  background-size: 550px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-position: center;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;

}
.image-section :not(:first-child){
  background-size: 267px;
  transition-duration: 3s;
}
.image-section > *{
  cursor: pointer;
}
.image-section > *:hover {
  transition-duration: 500ms;
  background-color: rgba(0, 0, 0, 0.271);
  background-blend-mode: darken;
}
.image-section :nth-child(3){
  border-top-right-radius: 15px;
}
.image-section :nth-child(5){
  border-bottom-right-radius: 15px;
}
.amenities-section{
  display: flex;
  justify-content: space-between;
  width: 643px;
}
.amenities-box{
  min-width: 80px;
  min-height: 80px;
  border: lightgray solid 1px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
  line-height: 15px;
  transition-duration: 400ms;
  transition-timing-function: ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.amenity-name{
  padding: 10px;
}

.amenity-icon{
  margin-bottom: 10px;

}

.listing-description{
  margin-top: 15px;
  margin-bottom: 5px;
}
.listing-details{
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  width: 643px;
}

.edit-listing-btn{
  border: none;
  background-color: rgba(119, 0, 255, 0.19);
  border-radius: 10px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 85vh;
  right: 12vw;
  transition-duration: 500ms;
}
.edit-listing-btn:hover{
  /* color: blue; */
  background-color: bisque;
  margin-bottom: 10px;
  top: 84vh;
  /* top: 90%; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit-review-btn{
  height: 40px;

}
.review-form{
  display: flex;

  align-items: center;
  justify-content: space-around;
  width: 20rem;
}
.review-input{
  border-radius: 10px;
  padding: 5px;
}
.delete-review-btn{
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* width: 80px; */
  /* height: 40px; */
  position: absolute;
  /* right: 0; */
  /* top: 0; */
  left: 15rem;
  margin-top: -40px;
}
.review-content-delete-btn{
  display: flex;

  /* max-width: 20rem; */

  /* justify-content: space-around; */
  position: relative;
}
.review-content{
  position: absolute;
  left: 9rem;
  top: .3rem;
}
.reviews-display{
  max-height: min-content;
  position: relative;
  width: 300px;
}
.reviews-display > * {
  margin-bottom: 40px;
}
.user-review-img{
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background-size: contain;
  position: absolute;
  left: 0;
}
.review-username{
  position: absolute;
  left: 2.5rem;
  top: .3rem;
}
