/* .host-form{
  display: flex;
  flex-direction: column;
  margin: 20px 150px;
  text-align: center;
  position: absolute;
  width: 25vw;
  left: 50vw;

}
.host-form label{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}


.all-amenities{
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  justify-content: center;
  align-items: center;

}

.amenity-div{
  width: 10rem;
  height: 10rem;
  border: gray solid 1px;
  border-radius: 999px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  line-height: 25px;
  transition-duration: 400ms;
  transition-timing-function: ease;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

#amenity-string{
  margin-top: 8px;
}

.amenity-div:hover{
  outline: 1px solid lightblue;
  padding: 8px;
}

.selected{

  outline: 1px solid lightblue;
  background-color: rgba(173, 216, 230, 0.61);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

.image-input{
  margin-top: 20px;
}
form > label{
  font-weight: 600;
}
form > label > input, select {
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}
form > button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition-duration: 500ms;
  width: 70px;
  height: 50px;
  margin: 20px auto;
  border-radius: 10px;
  background-image: linear-gradient(to right, #38292942, #4d4b5157);
  color: rgb(0, 0, 0);
}
form > button:hover{
  color: white;
}

.images-label{
  padding-top: 100px;
}

.create-listing-errors{
  color: red;
}

.images-form-container{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
} */
