.login-form {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  width: 20em;
  height: 31em;
  position: absolute;
  left: 5em;
  top: 3em;
  background-color: white;

}

.login-page-container{
  border-top: 1px solid rgba(211, 211, 211, 0.497);
  padding-top: 3em;
  padding-bottom: 5em;
}
.login-form-container{
  height: 90vh;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  position: relative;

  margin: 0 auto;

}
.login-main-header{
  font-size: 25px;
  margin-top: .5em;
}
.login-form-header{
  padding-left: 2em;
  padding-right: 2em;
}
.login-form>input{
  padding: 1em;
  width: 80%;
  margin-left: 2.3em;
  margin-right: 2.3em;
  margin-top: 2em;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.login-subheader{
  color: gray;
}
.login-background{
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: .5em;
  caret-color: transparent;
  user-select: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  object-fit: fill;
}
.signup-header{
  color: white;
  margin-bottom: 10px;
}

.login-submit-btn{
  color: white;
  background-color: #e32977;
  background-image: linear-gradient(120deg, #d94348 0%, #e32977 80%);
  font-weight: 600;
  height: 40px;
  width: 80%;
  margin: 2em 2.3em 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}


.demo-user-btn{

  background-color: #e32977;
  background-image: linear-gradient(120deg, #d94348 0%, #e32977 80%);
  font-weight: 600;

  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  width: 80%;
  margin: 0em 2.3em;
  cursor: pointer;
  color: white;
  z-index: 999;
  user-select: none;

}
.login-form-errors{
  color: red;
  text-align: center;
  list-style: none;
  font-size: 20px;
  margin-top: 1em;
  margin-left: 2.3em;
  margin-right: 2.3em;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .login-form{
    flex-direction: column;
    align-items: flex-end;
  }
  .login-form > *:not(.login-submit-btn){
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .login-form > .credentials-label{
    margin-top: 60px;
  }
  .signup-header{
    width: 300px;
    text-align: center;
  }
  .login-form-errors{
    color: red;
    position: absolute;
    top: 18%;
    left: 5em;
  }
  .login-form-container{

    /* background-size: contain; */
    /* object-fit: cover; */
    background-position: left 30% top 80%;
    /* background-position: 60% 40%; */
    /* height: 150vh; */
  }
}
