.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  background-color: white;
  z-index: 100;
  height: 80px;
  top: 0;
  border-bottom: 1px solid rgba(211, 211, 211, 0.363);
  padding-left: 60px;
  padding-right: 60px;

}

.nav-logo{
  width: 90px;
  margin-top: .5rem;
  caret-color: transparent;
  user-select: none;
}

.nav-middle{
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  flex: 1;
  height: 30px;
  border-radius: 999px;
  padding: 20px;
  border: 1px solid lightgray;
  position: absolute;
  left: 0%;
  right: 0%;
  margin: 0 auto;
}
.nav-middle > input{
  border: none;
  outline: 0;
  width: 100%;
}

.nav-right{
  display: flex;
  align-items: center;
  width: max-content;
  user-select: none;
}

.profile-button{
  padding: 0px;

}

.profile-menu-icons{
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 999px;
  justify-content: center;
  cursor: pointer;
}
.nav-right-text{
  margin-left: -28px;
  position: absolute;
  left: 47.5%;
  top: 35px;
}
.nav-right-text{
  cursor: pointer;
}
.hamburger-menu{
  width: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.menu-dropdown-container{
  position: absolute;
  top: 70px;
  right: 40px;
  width: 200px;

  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: white;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  z-index: 9999;
}
.btn-options{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  margin-left: 20px;
  text-align: left;
  width: 100%;
  height: 100%;
}

.btn-container{
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.btn-container:hover{
  background-color: rgba(211, 211, 211, 0.239);
}

.close-menu{
  position: absolute;
  right: 8px;
  top: 8px;
}
